@import "fonts.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto";
    font-weight: 400;
}


/* header */
.header{
    width: 1140px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar_logo{
    padding: 50px;
}
.nav_list{
    display: flex;
}
.nav_list a{
    padding: 10px 4px 15px;
    margin: 0 19px;
    display: flex;
    font-size: 18px;
    line-height: 15px;
    color: #bab9b9;
    border-bottom: 2px solid transparent;
}
.nav_list a:hover{
    color: #4581b7;
    border-block-color:#4581b7 ;
}
.header_img{
    width: 100%;
    margin-top: 50px;
}
.header_img img{
    width: 100%;
    object-fit: contain;
}

.content{
    width: 1140px;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.content_info,
.content_phone{
    /* width: 100px; */
    min-height: 300px;
    background: #f0f0f0;
    padding: 40px;
}
.content_info{
    width: 730px;
}
.content_phone{
    width: 350PX;
}
.content h2{
    font-size: 20px;
    font-weight: 700;
    color: #4581b7;
    margin-bottom: 25px;

}
.content p,
.content a{
    font-size: 18px;
    line-height: 27px;
    color: #7f7f7f;

}
.content a{
    display: flex;
    margin-top: 50px;

}
.footer{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background: #f0f0f0;
    padding: 20px 40px;
    align-items: center ;
}
.footer_text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer_text p{
    font-size: 16px;
    color: #808080;
    margin-bottom: 10px;
    
}
.footer_text a{
    /* display: flex; */
    font-size: 25px;
    color: #808080;
    font-weight: 700;
}